page {
	--primary-color:#07c160;
	--primary-lite-color:#07c160; // #ffeb67
	--td-button-primary-bg-color: var(--primary-color);
	--td-button-primary-border-color: var(--primary-color);
	--td-button-primary-active-bg-color: #07c160;
	--td-button-primary-active-border-color: #07c160;
	--td-cell-left-icon-color: #333;
	--td-button-primary-disabled-bg: #07c160;
	--td-button-primary-disabled-border-color: #07c160;
}