/* pages/home.wxss */
.navbar__title {
	position: relative;
	display: flex;
	align-items: center;
}

.navbar__title text {
	font-weight: bold;
	padding-left: 16rpx;
	padding-right: 4rpx;
	font-size: 34rpx;
}

.content {
  padding-top: 10px;
}

.role{
  width: 45%;
  height: 150px;
  background-color: #fff;
  box-shadow: 0px 0px 18px 0px rgba(5, 5, 5, 0.15);
  margin-left: 3%;
  margin-bottom: 5px;
  border-radius: 10px;
  margin-top: 10px;
  float: left;
}
.category-imgbox {
  width: 100rpx;
  height: 100rpx;
  border-radius: 50%;
  background-size: 100% 100%;
  margin-left: 35%;
  margin-top: 10px;
}
.title {
  text-align: center;
}
.des {
  font-size: 13px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color:slategray;
  margin-top: 10px;
}